<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                       http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">
 <display-name>Sistema Universitario</display-name>
 <description>Ejemplo de Rutinas de Transaccion</description>
 <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/context.xml</param-value>
 </context-param>
 <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
 </listener>
 <servlet>
   <servlet-name>Index</servlet-name>
   <servlet-class>display.Index</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ActualizarPozo</servlet-name>
   <servlet-class>display.ActualizarPozo</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetallePozo</servlet-name>
   <servlet-class>display.DetallePozo</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ListaPozos</servlet-name>
   <servlet-class>display.ListaPozos</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>InsertarPozo</servlet-name>
   <servlet-class>display.InsertarPozo</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>BorrarPozo</servlet-name>
   <servlet-class>display.BorrarPozo</servlet-class>
 </servlet> 
  <servlet>
   <servlet-name>ActualizarBomba</servlet-name>
   <servlet-class>display.ActualizarBomba</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleBomba</servlet-name>
   <servlet-class>display.DetalleBomba</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ListaBombas</servlet-name>
   <servlet-class>display.ListaBombas</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>InsertarBomba</servlet-name>
   <servlet-class>display.InsertarBomba</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>BorrarBomba</servlet-name>
   <servlet-class>display.BorrarBomba</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ActualizarEstacion</servlet-name>
   <servlet-class>display.ActualizarEstacion</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleEstacion</servlet-name>
   <servlet-class>display.DetalleEstacion</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ListaEstaciones</servlet-name>
   <servlet-class>display.ListaEstaciones</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>InsertarEstacion</servlet-name>
   <servlet-class>display.InsertarEstacion</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>BorrarEstacion</servlet-name>
   <servlet-class>display.BorrarEstacion</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ActualizarMedidor</servlet-name>
   <servlet-class>display.ActualizarMedidor</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleMedidor</servlet-name>
   <servlet-class>display.DetalleMedidor</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ListaMedidores</servlet-name>
   <servlet-class>display.ListaMedidores</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>InsertarMedidor</servlet-name>
   <servlet-class>display.InsertarMedidor</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>BorrarMedidor</servlet-name>
   <servlet-class>display.BorrarMedidor</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ActualizarTanque</servlet-name>
   <servlet-class>display.ActualizarTanque</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleTanque</servlet-name>
   <servlet-class>display.DetalleTanque</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ListaTanques</servlet-name>
   <servlet-class>display.ListaTanques</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>InsertarTanque</servlet-name>
   <servlet-class>display.InsertarTanque</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>BorrarTanque</servlet-name>
   <servlet-class>display.BorrarTanque</servlet-class>
 </servlet> 
  <servlet>
   <servlet-name>ActualizarTuberia</servlet-name>
   <servlet-class>display.ActualizarTuberia</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleTuberia</servlet-name>
   <servlet-class>display.DetalleTuberia</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ListaTuberias</servlet-name>
   <servlet-class>display.ListaTuberias</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>InsertarTuberia</servlet-name>
   <servlet-class>display.InsertarTuberia</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>BorrarTuberia</servlet-name>
   <servlet-class>display.BorrarTuberia</servlet-class>
 </servlet> 
 <servlet>
   <servlet-name>ActualizarValvula</servlet-name>
   <servlet-class>display.ActualizarValvula</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleValvula</servlet-name>
   <servlet-class>display.DetalleValvula</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ListaValvulas</servlet-name>
   <servlet-class>display.ListaValvulas</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>InsertarValvula</servlet-name>
   <servlet-class>display.InsertarValvula</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>BorrarValvula</servlet-name>
   <servlet-class>display.BorrarValvula</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>Index</servlet-name>
   <url-pattern>/acueducto/index</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ListaPozos</servlet-name>
   <url-pattern>/acueducto/listaPozos</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetallePozo</servlet-name>
   <url-pattern>/acueducto/detallePozo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetallePozo</servlet-name>
   <url-pattern>/acueducto/agregarPozo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetallePozo</servlet-name>
   <url-pattern>/acueducto/eliminarPozo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ActualizarPozo</servlet-name>
   <url-pattern>/acueducto/actualizarPozo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>InsertarPozo</servlet-name>
   <url-pattern>/acueducto/insertarPozo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>BorrarPozo</servlet-name>
   <url-pattern>/acueducto/borrarPozo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ListaBombas</servlet-name>
   <url-pattern>/acueducto/listaBombas</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleBomba</servlet-name>
   <url-pattern>/acueducto/detalleBomba</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleBomba</servlet-name>
   <url-pattern>/acueducto/agregarBomba</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleBomba</servlet-name>
   <url-pattern>/acueducto/eliminarBomba</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ActualizarBomba</servlet-name>
   <url-pattern>/acueducto/actualizarBomba</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>InsertarBomba</servlet-name>
   <url-pattern>/acueducto/insertarBomba</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>BorrarBomba</servlet-name>
   <url-pattern>/acueducto/borrarBomba</url-pattern>
 </servlet-mapping> 
 <servlet-mapping> 
	<servlet-name>ListaEstaciones</servlet-name>
   <url-pattern>/acueducto/listaEstaciones</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleEstacion</servlet-name>
   <url-pattern>/acueducto/detalleEstacion</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleEstacion</servlet-name>
   <url-pattern>/acueducto/agregarEstacion</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleEstacion</servlet-name>
   <url-pattern>/acueducto/eliminarEstacion</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ActualizarEstacion</servlet-name>
   <url-pattern>/acueducto/actualizarEstacion</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>InsertarEstacion</servlet-name>
   <url-pattern>/acueducto/insertarEstacion</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>BorrarEstacion</servlet-name>
   <url-pattern>/acueducto/borrarEstacion</url-pattern>
 </servlet-mapping> 
 <servlet-mapping> 
	<servlet-name>ListaMedidores</servlet-name>
   <url-pattern>/acueducto/listaMedidores</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleMedidor</servlet-name>
   <url-pattern>/acueducto/detalleMedidor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleMedidor</servlet-name>
   <url-pattern>/acueducto/agregarMedidor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleMedidor</servlet-name>
   <url-pattern>/acueducto/eliminarMedidor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ActualizarMedidor</servlet-name>
   <url-pattern>/acueducto/actualizarMedidor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>InsertarMedidor</servlet-name>
   <url-pattern>/acueducto/insertarMedidor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>BorrarMedidor</servlet-name>
   <url-pattern>/acueducto/borrarMedidor</url-pattern>
 </servlet-mapping> 
  <servlet-mapping> 
	<servlet-name>ListaTanques</servlet-name>
   <url-pattern>/acueducto/listaTanques</url-pattern>
 </servlet-mapping> 
 <servlet-mapping>
   <servlet-name>DetalleTanque</servlet-name>
   <url-pattern>/acueducto/detalleTanque</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleTanque</servlet-name>
   <url-pattern>/acueducto/agregarTanque</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleTanque</servlet-name>
   <url-pattern>/acueducto/eliminarTanque</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ActualizarTanque</servlet-name>
   <url-pattern>/acueducto/actualizarTanque</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>InsertarTanque</servlet-name>
   <url-pattern>/acueducto/insertarTanque</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>BorrarTanque</servlet-name>
   <url-pattern>/acueducto/borrarTanque</url-pattern>
 </servlet-mapping>
  <servlet-mapping> 
	<servlet-name>ListaTuberias</servlet-name>
   <url-pattern>/acueducto/listaTuberias</url-pattern>
 </servlet-mapping> 
  <servlet-mapping>
   <servlet-name>DetalleTuberia</servlet-name>
   <url-pattern>/acueducto/detalleTuberia</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleTuberia</servlet-name>
   <url-pattern>/acueducto/agregarTuberia</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleTuberia</servlet-name>
   <url-pattern>/acueducto/eliminarTuberia</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ActualizarTuberia</servlet-name>
   <url-pattern>/acueducto/actualizarTuberia</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>InsertarTuberia</servlet-name>
   <url-pattern>/acueducto/insertarTuberia</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>BorrarTuberia</servlet-name>
   <url-pattern>/acueducto/borrarTuberia</url-pattern>
 </servlet-mapping>
 <servlet-mapping> 
	<servlet-name>ListaValvulas</servlet-name>
   <url-pattern>/acueducto/listaValvulas</url-pattern>
 </servlet-mapping>   
  <servlet-mapping>
   <servlet-name>DetalleValvula</servlet-name>
   <url-pattern>/acueducto/detalleValvula</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleValvula</servlet-name>
   <url-pattern>/acueducto/agregarValvula</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleValvula</servlet-name>
   <url-pattern>/acueducto/eliminarValvula</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ActualizarValvula</servlet-name>
   <url-pattern>/acueducto/actualizarValvula</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>InsertarValvula</servlet-name>
   <url-pattern>/acueducto/insertarValvula</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>BorrarValvula</servlet-name>
   <url-pattern>/acueducto/borrarValvula</url-pattern>
 </servlet-mapping> 
</web-app>
